{% extends 'base.html' %}
{% block content %}
<main>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for list in account_list %}
            <tr>
                <td>{{list.name}}</td>
                <td>{{list.number}}</td>
                <td>{{list.receipts.all.count}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
